@dev-toolkits:registry = https://gitlab.com/api/v4/projects/55027941/packages/npm/
//gitlab.com/api/v4/projects/55027941/packages/npm/:_authToken=gldt-mbsph3HzqHXzb96JfTmM

engine-strict = true
auto-install-peers=true
